<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <%- include("header") %>
  <section class="error-section">
    <div class="error-container">
      <p>Error: <%= message %></p>
      <a href="/" class="error-link">Home</a>
    </div>
  </section>
</body>
</html>