<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <p>Testing 123...</p>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <h2>From: <%= message.user %></h2>
          <p><%= message.text %></p>
          <p><%= message.added %></p>
          <a href="/messages/<%= message.id %>">Open</a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>