body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 0 1rem;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  padding: 1rem 0.25rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  display: block;
}

button:hover {
  cursor: pointer;
}

/* index */

.new-link {
  font-weight: 600;
  background-color: #000000;
  color: #fca311;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.new-link:hover {
  background-color: #14213d;
}

.messages-section {
  display: flex;
  justify-content: center;
}

.message {
  position: relative;
  background-color: #14213d;
  color: #fff;
  border-radius: 5px;
  width: clamp(250px, 80vw, 800px);
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

.message:hover {
  transform: scale(1.01);
}

.message-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.message *:not(.message-link) {
  isolation: isolate;
  width: fit-content;
  z-index: 999;
}

.message-author {
  color: #fca311;
  word-break: break-all;
  margin: 0.5rem 0;
}

.message-text {
  margin-bottom: 2.5rem;
}

.date-added {
  position: absolute;
  right: 1rem;
  bottom: 0;
  font-size: 0.75rem;
  padding: 0 !important;
}

@media (min-width: 600px) {
  header {
    padding: 0 2rem;
  }

  .message {
    padding: 0.25rem 2rem;
    margin: 1rem;
  }

  .message *:not(.message-link) {
    padding: 0 2rem 0 0;
  }
}

/* form */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.message-form {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: clamp(300px, 60vw, 600px);
  padding: 0.5rem;
}

.form-heading,
.required-reminder {
  text-align: center;
}

.form-heading {
  color: #fca311;
}

.required-symbol {
  color: #fa0202;
}

.form-field {
  margin-left: 1.8rem;
}

.form-field label {
  margin-bottom: 0.5rem;
}

.form-field input,
.form-submit {
  border: none;
  border-radius: 5px;
}

.form-field input {
  font-size: 1rem;
  width: 90%;
  padding: 0.25rem;
}

.form-submit {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #14213d;
  color: #fca311;
  border: 1px solid #ffffff;
  padding: 0.25rem 0.5rem;
  margin-top: 0.75rem;
}

.form-submit:hover {
  background-color: #24241d;
}
